@font-face {
  font-family: 'Goyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
  font-weight: normal;
  font-style: normal;

}