.tiptap-page {
  display: flex;
  flex:1;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  flex-direction:column;

.editor-wrap-box{
  width:100%;
  height:100%;
  .editor-content{
    background-color:#fff;
    width:100%;
    height:calc(100% - 60px);
    overflow:auto;
  }
}
}

.has-focus{
  border:1px solid skyblue;
}
.ProseMirror {
  &:focus{
    outline: none;
  }
}
