.todo-list-page {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  .todo-calendar-wrap-box,
  .todo-list-wrap-box {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .todo-calendar-wrap-box {
    padding: 0 8px 0 0;
  }

  .todo-list-wrap-box {
    .todo-tab-bar {
      display: flex;
      flex: 6;
      justify-content: space-between;
      align-items: center;
      .todo-focus-date {
        font-size: 1.2em;
        font-weight: 900;
        color: $pointColor;
      }
      .todo-active-tab-bar {
        display: flex;
        .todo-active-item {
          display: flex;
          width: 100px;
          justify-content: center;
          // border:1px solid $pointColor;
          background: $middleColor;
          color: $pointColor;
          border-radius: 0.2rem 0.2rem 0 0;
          box-sizing: border-box;
          cursor: pointer;
          transition: all 0.4s;
          font-weight: 900;
          &:hover {
            background-color: $pointColor;
            color: $lowColor;
          }
        }
      }
    }
    
    .todo-list {
      display: flex;
      flex: 1;
      flex-direction: column;

      .todo-list-item {
        display: flex;
        flex: 1;
        // justify-content: center;
        // align-items: center;
        .todo-info-idx,
        .todo-info-title,
        .todo-info-range-date,
        .todo-info-status,
        .todo-info-button-wrap {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          color: $pointColor;
        }
        .todo-info-title {
          flex: 2;
        }
        .todo-info-range-date {
          flex: 4;
        }
        .todo-info-status {
          border: 1px solid $pointColor;
          background-color: $lowColor;
        }

        svg {
          path {
            fill: #6f4e37;
          }
        }
      }
    }
  }
}