.cat-detail-wrap{
  display:flex;
  flex:9;
  padding: 0 1rem;
  flex-direction: column;
  overflow-y:auto;
  .top-info-wrap, .bottom-info-wrap{
    display:flex;
  }
  .top-info-wrap{
    .profile-box{
      display:flex;
      flex:4;
      overflow: hidden;
      height:300px;
      border-radius:4px;
      img{
        width:100%;
        height:auto;
      }
    }
    .info-box{
      display:flex;
      flex-direction: column;
      text-align:left;
      padding: 0 0.5rem;
      flex:8;
      p{
        display:flex;
        align-items: center;
      }
    }
  }
  .bottom-info-wrap{
    flex-direction: column;
    .chart-box{
      display:flex;
      flex:1;
    }
    .map-box{
      display:flex;
      flex:1;
      min-height:300px;
      border:3px solid $pointColor;
      border-radius:0.25rem;
    }
  }
}