@import './common/minireset.scss';
@import './common/font.scss';
@import './common/common.scss';
@import './common/pallete.scss';
@import './common/badgeBg.scss';
@import './common/animation.scss';
@import './common/variable.scss';
@import './common/chart.scss';
@import './common/spinner.scss';

@import './menu/menu.scss';
@import './intro/introPage.scss';
@import './catList/catListPage.scss';
@import './catList/catDetail.scss';
@import './catList/avatar.scss';
@import './catList/keyboard.scss';

@import './tiptap/tiptap.scss';
@import './todo/todo.scss';
@import './todo/calendar.scss';

.App {
  text-align: center;
  position:relative;
  background-color: $bgColor;
  padding: 2rem;
  height:100vh;
}

.content-box{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  // overflow:scroll;
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }
}
// scroll
*{
  font-family: 'Goyang', sans-serif;
  
  &::-webkit-scrollbar {
    border-radius: 1.25rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 1.25rem;
    background-color: $lowColor;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    background-color: $pointColor;
  }
}
