@charset "utf-8";

.modal {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}
.topBox {
    margin-top: 50px;
    margin-bottom: 36px;
}
.topBox input {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    height: 60px;
    padding-left: 10px;
}
.firstBox {
    margin-bottom: 12px !important;
}
.cardBox {
    position: relative;
    height: 500px;
}
.imgBox {
    width: 100%;
    height: 80%;
}
.imgBox img {
    width: 100%;
}
.profileImg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.infoBox {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    transition: all 0.7s;
}
.infoBox:hover {
    z-index: 2;
    background-color: inherit;
    height: 80%;
}
.infoBox:hover .imgBox {
    z-index: 2;
}

.wrapBox {
    position: relative;
}
.darkBtn {
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 3;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-weight: 900;
}

.loadingBox {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
}
.loading {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}
.keywordBox {
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.deleteBox {
    width: 10px;
    height: 10px;
    font-size: 6px;
    line-height: 6px;
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}
